$pageBG = #87dfd6
$blue = #086972

miFuncion()
  display flex
  flex-direction column
  align-items center
  justify-content center

body
  margin 0
  padding 0
  width 100vw
  height 100vh
  background-color $pageBG

div
  miFuncion()
  height 100%
  h1
    font-size 70px
    &:hover
      color $blue